<% if food.favorited_by?(current_user) %>
 <p>
  <%= link_to food_favorites_path(food), method: :delete do %>
   ♥<%= food.favorites.count %>
  <% end %>
 </p>
<% else %>
 <p>
  <%= link_to food_favorites_path(food), method: :post do %>
   ♡<%= food.favorites.count %>
  <% end %>
 </p>
<% end %>