<div class='container'>
  <div class='row'>
    <div class="mx-auto col-11 co-sm-10 col-lg-8 col-xl-6">
      <h2>
       <strong>Healthy Food Life</strong>
       は、様々なユーザーの声を聞いて自分に合う健康食品を知るためのサイトです。
       <br>
       自分が使用した感想や体感した効果を誰かと共有したいときにも活用できます。
     </h2>
    </div>
  </div>
</div>