<main>
  <div class="container">
    <div class-"row">
      <div class="mx-auto col-11 co-sm-10 col-lg-8 col-xl-6">
        <h1>
          welcome to<br>
         <strong>Healthy Food Life</strong>
          !!
        </h1>

        <h1>自分に合った健康食品を<br>
        発見しましょう！</h1>

        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            <%= link_to"Log in", "/users/sign_in",  class:"btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
          <div class="row">
            <%= link_to "Sign up", "/users/sign_up", class:"btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
